name: Deploy Updated Dist to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Deploy via SSH
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USER }}
        key: ${{ secrets.SSH_KEY }}
        script: |
          set -e

          SRC=/home/ubuntu/updated_dist
          DEST=/home/ubuntu/ayush/Mediscript-dists/Medi

          sudo rsync -av --delete $SRC/admin/dist/   $DEST/admin/dist/
          sudo rsync -av --delete $SRC/doctor/dist/  $DEST/doctor/dist/
          sudo rsync -av --delete $SRC/main/dist/    $DEST/main/dist/
          sudo rsync -av --delete $SRC/student/dist/ $DEST/student/dist/

          sudo chown -R www-data:www-data $DEST
          sudo chmod -R 775 $DEST
